@inherits ThemeSwitcherBase

    <div style="border: 1px solid black; padding: 0.25em;">
        <h4 style="margin-top: 1rem;">Theme Switcher</h4>
        <form>
            <div>
                <label for="themeName">Pick Theme</label>
                <select id="themeName" value="@Selected" @onchange="@OnChangeSelected">
                    @foreach (string theme in Typography.Themes)
                    {
                        <option @key="@theme" value="@theme">@theme</option>
                    }
                </select>
            </div>
            <fieldset style="margin-bottom:0.5rem;">
                <legend><strong>Base Sizes</strong></legend>
                <div style="display: table;">
                    <div style="display: table-row; padding-bottom: 0.5em;">
                        <div style="display: table-cell; padding-right:0.5em; padding-bottom: 0.5em; padding-left: 0.5em;">
                            <label for="fontsize">Font size (px)</label>
                            <input id="fontsize" type="number" value="@Fontsize" @onchange="@OnChangeFontsize" style="width: 6em;" />
                        </div>
                        <div style="display: table-cell; padding-bottom: 0.5em;">
                            <label for="lineheight">Line height</label>
                            <input id="lineheight" type="number" value="@Lineheight" @onchange="@OnChangeLineheight" style="width: 6em;" />
                        </div>
                    </div>
                    <div style="display: table-row; padding-bottom: 0.5em;">
                        <div style="display: table-cell; padding-right:0.5em; padding-bottom: 0.5em; padding-left: 0.5em;">
                            <label for="fontsize">Scale Ratio (ratio)</label>
                            <input id="fontsize" type="number" value="@Ratio" @onchange="@OnChangeRatio" style="width: 6em;" />
                        </div>
                        <div style="display: table-cell; padding-bottom: 0.5em;">
                            <label for="lineheight">Paragraph Spacing (rhythm)</label>
                            <input id="lineheight" type="number" value="@Spacing" @onchange="@OnChangeSpacing" style="width: 6em;" />
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset style="margin-bottom:0.5rem;">
                <legend><strong>Headers</strong></legend>
                <div>
                    <label for="headerFont">Typeface</label>
                    <select id="headerFont" value="@HeaderFont" @onchange="@OnChangeHeaderFont">
                        @foreach (string name in FontNames)
                        {
                            <option @key="@name" value="@name">@name</option>
                        }
                    </select>
                </div>
                <div style="display: table;">
                    <div style="display: table-row; padding-bottom: 0.5em;">
                        <div style="display: table-cell; padding-right:0.5em; padding-bottom: 0.5em; padding-left: 0.5em;">
                            <label for="headerWeight">Weight</label>
                            <select id="headerWeight" value="@HeaderWeight" @onchange="@OnChangeHeaderWeight">
                                @foreach (string weight in HeaderWeights)
                                {
                                    <option @key="@weight" value="@weight">@weight</option>
                                }
                            </select>
                        </div>
                        <div style="display: table-cell; padding-bottom: 0.5em;">
                            <label for="headerColor">Gray Value (%)</label>
                            <input id="headerColor" type="number" style="width: 6em;" />
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset style="margin-bottom:0.5rem;">
                <legend><strong>Body</strong></legend>
                <div>
                    <label for="bodyFont">Typeface</label>
                    <select id="bodyFont" value="@BodyFont" @onchange="@OnChangeBodyFont">
                        @foreach (string name in FontNames)
                        {
                            <option @key="@name" value="@name">@name</option>
                        }
                    </select>
                </div>
            </fieldset>
            <fieldset style="margin-bottom:0.5rem;">
                <legend><strong>Plugins</strong></legend>
                <div style="display: table;">
                    <div style="display: table-row; padding-bottom: 0.5em;">
                        <div style="display: table-cell; padding-right:0.5em; padding-bottom: 0.5em; padding-left: 0.5em;">
                            <input type="checkbox" id="codePlugin" checked="@UseCodePlugin" @onchange="@OnChangeCodePlugin" />
                            <label for="codePlugin">Use Code Plugin</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <button type="button" @onclick="@OnClick">Change Theme</button>
        </form>
    </div>
        
